/* Navigation bar Code Start here */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Add space between items */
    z-index: 100;
}

nav .brand {
    padding: 14px 16px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-left: 16px; /* Add left margin to the brand */
}

.nav-element {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 16px; 
}

.nav-element:hover {
    background-color: #ddd;
    color: black;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    margin-left: 5px;
}

.brand {
    padding: 14px 16px;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.brand:hover {
    background-color: #ddd;
    color: black;
}

.nav-links {
    display: flex;
}

.menu-icon {
    display: none;
    cursor: pointer;
    text-align: left;
}

.name-nav-bar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    align-items: left;
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-links a {
        width: 100%;
        text-align: left;
        margin: 0;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        text-align: left;
    }

    nav {
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
    }

    .brand {
        margin: 0;
        align-items: left;
    }
}

/* Background Image with Text Code Start Here */
.background-div {
    background-image: url('images/background1.jpg'); /* Specify the path to your image */
    background-size: 100% 100%;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color */
    text-align: center;
}

.name-title-text {
    margin-top: 20px;
}

#name-text-container {
    overflow: hidden;
    white-space: nowrap;
    font-size: 3.5em;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}

#title-text-container {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.8em;
}

#title-text-container.typing::after {
    content: '|';
    animation: blink-caret 0.75s step-end infinite;
}

/* About Section code Start here */
#about-me-section {
    background-color: #0EB3C6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 7%;
    padding-right: 7%;
    z-index: 1; /* Ensure the about-me-section is above other elements */
}

#about-me {
    flex: 1;
    opacity: 0;
    transform: translateX(-500px);
    transition: opacity 1s, transform 2s;
    margin-right: 20px;
    z-index: 1; /* Ensure the about-me div is above other elements */
}

#profile-picture {
    width: 40%;
    max-width: 300px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateX(300px);
    transition: transform 2s;
    z-index: 0; /* Ensure the profile picture is behind other elements */
    margin-right: -20px; /* Adjust the negative margin as needed */
}

#profile-picture img {
    width: 100%;
    height: auto;
    display: block;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

#resume {
    background-color: #0EB3C6;
    width: 100%;
    padding: 5%;
    text-align: center;
}

#resumeButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #ff4949;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

#resumeButton:hover {
    background-color: #f6b0b0;
}

@media only screen and (max-width: 600px) {
    #about-me-section {
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: column;
    }

    #about-me {
        order: 2; /* Change order to 2 to move it below profile picture */
    }

    #profile-picture {
        width: 80%; /* Adjust width for smaller screens */
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: justify;
    }
}

/* Skills Section code */
.skills-section {
    background-color: #0EB3C6;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.subsection {
    margin-bottom: 20px;
}

.subsection h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .logos {
        text-decoration: none;
    }

    .logo {
        max-width: 50px;
        max-height: 50px;
        margin: 5px;
    }
}

/* Projects section */
.projects-section {
    position: relative;
    height: 100vh;
    background: url('images/background2.jpg') center/cover no-repeat; /* Replace 'your-background-image.jpg' with the path to your background image */
    color: #0EB3C6; /* Change the font color to a brighter color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects-section h2 {
    margin-bottom: 20px;
    color: #000; /* Adjust the color of the heading if needed */
}

.projects-section p {
    margin: 0 40px; /* Increase the margin on the left and right */
    margin-bottom: 30px;
    color: #000000; /* Change the font color to a brighter color */
}

.view-projects-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #3498db; /* Change the background color to your preference */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-projects-btn:hover {
    background-color: #2980b9; /* Change the hover background color to your preference */
}

/* Education section */
.timeline {
    position: relative;
    background: #3498db;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0;
    overflow: hidden;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #000000;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #ffffff;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #0a5d94;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #000000;
}
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #ffffff;
    border: 2px dashed #ffffff;
}
.timeline-row .timeline-content h4 {
    margin: 0 0 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
    color: #fff;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
    color: #fff;
    font-size: 1em;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row .timeline-content .badge {
    color: #ffffff;
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: center;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}

.timeline h5 {
    font-size: 1em;
    margin: 3px;
    padding: 0;
    color: #fff;
}

/* Course Section */
#courses-section {
    position: relative;
    width: 100%;
    height: 750px;
    background: url('images/background3.jpg') center/cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#view-courses-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#courses-section h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #000000; /* Adjust the color of the heading if needed */
}

#courses-section p {
    font-size: 1.2em;
    margin: 0 40px; /* Increase the margin on the left and right */
    margin-bottom: 30px;
    color: #000000; /* Change the font color to a brighter color */
}

/* Certficate Section */
#certificates-section {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #3498db;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 7%;
    padding-right: 7%;
    box-sizing: border-box;
}

#view-certificates-btn {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#certficates-section h2 {
    margin-bottom: 20px;
    color: #000000; /* Adjust the color of the heading if needed */
}

#certficates-section p {
    /* margin: 0 40px; Increase the margin on the left and right */
    margin-bottom: 30px;
    color: #000000; /* Change the font color to a brighter color */
    /* padding-left: 7%;
    padding-right: 7%; */
}

/* Journey Section */
#journey-section {
    position: relative;
    width: 100%;
    height: 650px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1.2), transparent), url('images/background4.jpg') center/cover;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7%;
    padding-right: 7%;
    box-sizing: border-box;
}

#journey-heading {
    margin-bottom: 20px;
}

#journey-text {
    margin-bottom: 30px;
}

#view-journey-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Connect Section */
#bottom-section {
    background-color: #0a5d94;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#social-icons a {
    margin: 0 20px;
    text-decoration: none;
    color: #ffffff;
}

#social-icons img {
    width: 50px;
    height: 50px;
}